body {
  height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  body {
    background-color: black;
  }
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-footer {
  flex-shrink: 0;
}
