body {
  height: 100%;
  background-color: #ffffff;
  background-image: url("./images/bg.jpg");  
  background-repeat:	no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

code {
  font-family: 'Georgia', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-footer {
  flex-shrink: 0;
}